.dark-mode {
    background-color: black;
    
    p {
        color: white;
    }

    a,h1,h2,h3,h4,h5,h6 {
        color: $gris;
    }

    .anuncio, .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .icono {
            filter: invert(100%);
        }
    }

    .entrada-blog {
        background-color: rgb(27, 27, 27);
    }
   
    .formulario {
        label, legend, p {
            color: white;
        }

        input:not([type="submit"]),
        textarea, select {
            background-color: rgb(63, 63, 63);
            border: 1px solid rgb(27, 27, 27);
            color: white;
        }
    }

}