.no-webp .imagen-contacto {
    background-image: url('../img/encuentra.jpg');
    max-width: 100%;
}
.webp .imagen-contacto {
    background-image: url('../img/encuentra.webp');
    max-width: 100%;
}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: 5rem *2 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 4rem;
        font-weight: $black;
        color: white;
    }
    p {
        font-size: 1.8rem;
        color: white;
    }
}