@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem);
    }
}

.icono {
    text-align: center;
    img {
        height: 10rem;
        padding-right: 2rem;
    }
    h3 {
        text-transform: uppercase;
    }
}
.iconoz{
    text-align: center;
}