.alerta {
    padding: .5rem;
    text-align: center;
    color: white;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: red;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color:$verde;

        th {
            color: $blanco;
        }
    }
}

.imagen-tabla {
    width: 10rem;
}

.img-small {
    width: 30rem
}